/*stylesheet*/

/*earthy colors:
white #f7f7f2;
black: #261c15;
m green: #c5d86d;
l green: #e4e6c3;
orange: #f05d23;

lav colors:
yellow: #fbfae0;
grey: #D3D7D9;
l purple: #b0acc4;
d purple: #9b99ad;
brown: #bbaa8c;
*/

body {
	margin: 20px;
	font-family: 'Newsreader', serif;
	font-weight: 300;
	background-color: #fbfae0;
	color: #261c15;
}

h1 {
	font-weight: 800;
	font-size: 72pt;
	margin: 0px;
	color: #b0acc4;
}

h2 {
	color: #bbaa8c;
	font-weight: 800;
	font-size: 28pt;
	margin: 0px;
	font-style: italic;
}

h3 {
	color: #D3D7D9;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 12pt;
}
#wrapper {
	margin: 2em auto;
	max-width: 1200px;
	padding: 0 2em;
}

#main {
}

#sidebar {
	background: white;
	padding: 2em;
}

#logo a {
	text-decoration: none;
	color: #bbaa8c;
}

#logo img {
	width: 80%;
	height: auto;
}

#content {
	background: #F4F5F6;
	padding: 2em;
}

#projects img {
	width: 100%;
	height: auto;
}

#nav a {
	color: #9b99ad;
	text-decoration: none;
	transition: background .3s ease-in-out;
	font-weight: 500;
}

#nav a:hover {
	color: #9b99ad;
	text-decoration: none;
	background: #fbfae0;

}

#project-grid {
	margin-bottom: 2em;
}

#project-grid .grid-item {
	position: relative;
}

#project-grid .grid-item img {
	display: block;
	width: 100%;
	height: auto;
}

#project-grid .grid-item .overlay {
	transition: all .3s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

#project-grid .grid-item:hover .overlay {
	opacity: 1;
}

#project-grid .grid-item .overlay .project-title h3 {

}

@media (max-width: 699px) {
	
	#wrapper {
		margin: 2em auto;
		padding: 0em;
	}

	#main {
		margin: 1em;
		padding: 2em;
	}

}